@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #212b36;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212b36;
}
a:hover {
  text-decoration: underline;
}

input,
select {
  border: none;
  background: transparent;
}
input:focus,
select:focus {
  outline: none;
}

textarea {
  resize: none;
}
textarea:focus {
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

img {
  max-width: 100%;
  min-height: auto;
}

.btn .blink {
  position: relative;
  overflow: hidden;
}
.btn .blink::after {
  content: "";
  display: block;
  width: 7px;
  height: 200px;
  margin-left: 50px;
  background: #fff;
  box-shadow: 0 0 10px #fff;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
  left: -40px;
  top: -100px;
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  -webkit-animation: movingFlare 2s ease-in-out 5s infinite;
          animation: movingFlare 2s ease-in-out 5s infinite;
}
.btn .btn-div {
  border: none;
  border-radius: 8px;
  background-color: #FA541C;
  box-shadow: 0px 3px 1px -2px rgba(145, 158, 171, 0.2), 0px 2px 2px 0px rgba(145, 158, 171, 0.14), 0px 1px 5px 0px rgba(145, 158, 171, 0.12);
  height: 44px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .btn .btn-div {
    height: 38px;
  }
}
@media (max-width: 576px) {
  .btn .btn-div {
    width: 100%;
    height: 58px;
  }
}
.btn .btn-div a {
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  height: 100%;
  line-height: 44px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .btn .btn-div a {
    font-size: 12px;
    line-height: 38px;
    padding: 0 14px;
  }
}
@media (max-width: 576px) {
  .btn .btn-div a {
    font-size: 18px;
    line-height: 58px;
  }
}
.btn .btn-div a:hover {
  text-decoration: none;
}
.btn .btn-div:hover {
  opacity: 0.9;
}
@-webkit-keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.logo a {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
.logo a span {
  color: #FA541C;
}

.top {
  background: #016fbd;
}
.top .top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}
.top .top-wrap .top-wrap__item .lang img {
  width: 20px;
}
.top .top-wrap .top-wrap__item .lang a {
  display: flex;
  align-items: center;
}
.top .top-wrap .top-wrap__item .lang a:hover {
  text-decoration: none;
}
.top .top-wrap .top-wrap__item .lang a span {
  color: #fff;
  margin-left: 7px;
}
.top .top-wrap .top-wrap__item .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top .top-wrap .top-wrap__item .social-media .social-media__icon {
  margin-left: 10px;
}
.top .top-wrap .top-wrap__item .social-media .social-media__icon a {
  display: flex;
}
.top .top-wrap .top-wrap__item .social-media .social-media__icon a svg path {
  fill: #fff;
}

header {
  padding: 16px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
  border-bottom: 1px solid #e6e2e2;
}
@media (max-width: 767px) {
  header {
    padding: 10px 0;
  }
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .burger-menu {
  display: none;
}
@media (max-width: 767px) {
  header .navbar .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 40px;
  }
  header .navbar .burger-menu span {
    width: 100%;
    height: 3px;
    background: #222;
    border-radius: 8px;
    margin: 4px 0;
  }
  header .navbar .burger-menu span:first-child {
    width: 80%;
  }
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .navbar ul {
    display: none;
  }
}
header .navbar ul li {
  margin: 0 20px;
}
header .navbar ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
@media (max-width: 767px) {
  header .navbar .btn {
    display: none;
  }
}

.content {
  padding: 60px 0 40px;
}
.content .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .content .content-wrap {
    flex-direction: column;
  }
}
.content .content-wrap .content-desc {
  max-width: 520px;
}
@media (max-width: 767px) {
  .content .content-wrap .content-desc {
    text-align: center;
  }
}
.content .content-wrap .content-desc h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 64px;
}
@media (max-width: 991px) {
  .content .content-wrap .content-desc h1 {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 767px) {
  .content .content-wrap .content-desc h1 {
    font-size: 32px;
    line-height: 44px;
  }
}
.content .content-wrap .content-desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 20px;
  opacity: 0.7;
}
.content .content-wrap .content-img {
  max-width: 550px;
  width: 100%;
}
@media (max-width: 767px) {
  .content .content-wrap .content-img {
    max-width: 370px;
  }
}
@media (max-width: 767px) {
  .content .btn-div {
    margin: 0 auto;
  }
}
.content .content-cards {
  margin-top: 20px;
}
.content .content-cards .content-cards__wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 767px) {
  .content .content-cards .content-cards__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content .content-cards .content-cards__wrap .content-cards__item {
  max-width: 360px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ebe9e9;
}
@media (max-width: 767px) {
  .content .content-cards .content-cards__wrap .content-cards__item {
    max-width: 420px;
    margin-top: 12px;
  }
}
.content .content-cards .content-cards__wrap .content-cards__item img {
  width: 40px;
}
.content .content-cards .content-cards__wrap .content-cards__item h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 7px 0 5px;
}
.content .content-cards .content-cards__wrap .content-cards__item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.8;
}

#services {
  padding: 60px 0;
}
#services h5 {
  text-align: center;
  max-width: 174px;
  width: 100%;
  margin: 0 auto;
}
#services p {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  max-width: 720px;
  width: 100%;
  margin: 14px auto;
  opacity: 0.7;
}
#services .services-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
#services .services-wrap .services-wrap__item {
  max-width: 320px;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: 20px 0;
  transition: 0.3s all;
  cursor: default;
  border-radius: 7px;
}
@media (max-width: 767px) {
  #services .services-wrap .services-wrap__item {
    box-shadow: 12px 15px 26px #d8d6d6;
    max-width: 100%;
  }
}
#services .services-wrap .services-wrap__item:hover {
  background: #FA541C;
  transform: scale(1.1);
}
#services .services-wrap .services-wrap__item:hover h3, #services .services-wrap .services-wrap__item:hover h6 {
  color: #fff;
}
#services .services-wrap .services-wrap__item:hover svg {
  fill: #fff;
}
#services .services-wrap .services-wrap__item svg {
  fill: #FA541C;
  transition: 0.3s all;
}
#services .services-wrap .services-wrap__item h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin: 7px 0;
  transition: 0.3s all;
}
#services .services-wrap .services-wrap__item h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  transition: 0.3s all;
}
#services .btn-div {
  margin: 0 auto;
}

#about {
  padding: 60px 0;
}
#about .about-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  #about .about-wrap {
    flex-direction: column;
  }
}
#about .about-wrap .about-wrap__txt {
  flex: 0 0 1;
  padding-right: 20px;
}
#about .about-wrap .about-wrap__txt h1 {
  font-weight: 900;
  font-size: 42px;
  line-height: 51px;
  margin: 30px 0 20px;
}
@media (max-width: 576px) {
  #about .about-wrap .about-wrap__txt h1 {
    font-size: 34px;
    line-height: 44px;
  }
}
#about .about-wrap .about-wrap__txt h1 span {
  color: #FA541C;
}
#about .about-wrap .about-wrap__txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
#about .about-wrap .about-wrap__img {
  padding-left: 60px;
}
@media (max-width: 991px) {
  #about .about-wrap .about-wrap__img {
    padding-left: 0;
    margin-top: 36px;
  }
}

#reviews {
  padding: 40px 0;
}
#reviews .container {
  text-align: center;
}
#reviews .container h5 {
  max-width: 290px;
  margin: 0 auto;
}
#reviews .container p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  max-width: 720px;
  margin: 20px auto;
  opacity: 0.7;
}
#reviews .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#reviews .slick-dots li {
  margin: 0 9px;
  padding: 3px;
}
#reviews .slick-dots li button {
  font-size: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #dbd9d9;
  border: none;
  cursor: pointer;
}
#reviews .slick-dots .slick-active button {
  background: #999;
}
#reviews .reviews-wrap {
  padding: 90px 0 20px;
  position: relative;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap {
    padding: 60px 0 20px;
  }
}
#reviews .reviews-wrap .slick-slider {
  margin: 0 -15px;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .slick-slider {
    margin: 0;
  }
}
#reviews .reviews-wrap .reviews-slider .reviews-slide {
  box-shadow: 0px 0px 50px -10px rgba(34, 60, 80, 0.2);
  padding: 30px;
  margin: 30px 15px;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .reviews-slider .reviews-slide {
    padding: 20px;
    margin: 30px 0px 20px;
  }
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head {
  display: flex;
  align-items: center;
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .ava {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #e2e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .ava {
    width: 50px;
    height: 50px;
  }
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .ava img {
  width: 40px;
  height: 40px;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .ava img {
    width: 35px;
    height: 35px;
  }
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .about {
  margin-left: 12px;
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .about h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
#reviews .reviews-wrap .reviews-slider .reviews-slide .reviews-head .about span {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}
#reviews .reviews-wrap .reviews-slider .reviews-slide p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 0;
}
#reviews .reviews-wrap .arrows {
  position: absolute;
  top: 30px;
  right: 20px;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .arrows {
    right: 20px;
  }
}
#reviews .reviews-wrap .arrows svg {
  width: 30px;
  cursor: pointer;
}
#reviews .reviews-wrap .arrows .prev {
  right: 70px;
  position: absolute;
}
#reviews .reviews-wrap .arrows .next {
  position: absolute;
  right: 10px;
}
@media (max-width: 767px) {
  #reviews .reviews-wrap .btn {
    padding: 10px;
  }
}
#reviews .reviews-wrap .btn-div {
  margin: 30px auto 0;
}

#contacts {
  padding: 60px 0;
  background: #444;
  color: #fff;
}
#contacts h5 {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#contacts .contacts-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
@media (max-width: 767px) {
  #contacts .contacts-wrap {
    margin-top: 40px;
    flex-direction: column;
  }
}
#contacts .contacts-wrap .contacts-wrap__item {
  width: 50%;
}
@media (max-width: 767px) {
  #contacts .contacts-wrap .contacts-wrap__item {
    width: 100%;
  }
}
#contacts .contacts-wrap .contacts-wrap__item h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
@media (max-width: 576px) {
  #contacts .contacts-wrap .contacts-wrap__item h2 {
    font-size: 28px;
  }
}
#contacts .contacts-wrap .contacts-wrap__item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  padding: 20px 0 10px;
  max-width: 420px;
  border-bottom: 2px solid #bdbbbb;
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-right: 20px;
}
#contacts .contacts-wrap .contacts-wrap__item .item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
#contacts .contacts-wrap .contacts-wrap__item .item span {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-left: 12px;
}
#contacts .contacts-wrap .contacts-wrap__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 576px) {
  #contacts .contacts-wrap .contacts-wrap__item .soc-medias {
    text-align: center;
  }
}
#contacts .contacts-wrap .contacts-wrap__item .soc-medias h3 {
  text-align: left;
  margin: 30px 0 12px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 576px) {
  #contacts .contacts-wrap .contacts-wrap__item .soc-medias h3 {
    text-align: center;
    font-size: 24px;
  }
}
#contacts .contacts-wrap .contacts-wrap__item .soc-medias svg {
  fill: #fff;
  margin-right: 10px;
}
@media (max-width: 576px) {
  #contacts .contacts-wrap .contacts-wrap__item .soc-medias svg {
    width: 40px;
    height: 40px;
  }
}
#contacts .contacts-wrap .contacts-wrap__item form {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 51px 20px rgba(255, 255, 255, 0.53);
  padding: 30px 40px;
  margin-top: 50px;
  border-radius: 12px;
  background: #fff;
  color: #333;
}
@media (max-width: 576px) {
  #contacts .contacts-wrap .contacts-wrap__item form {
    padding: 20px;
  }
}
#contacts .contacts-wrap .contacts-wrap__item form .form-item {
  margin: 16px 0;
}
#contacts .contacts-wrap .contacts-wrap__item form .form-item .form-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.7;
  margin-bottom: 7px;
}
#contacts .contacts-wrap .contacts-wrap__item form .form-item input,
#contacts .contacts-wrap .contacts-wrap__item form .form-item textarea,
#contacts .contacts-wrap .contacts-wrap__item form .form-item select {
  font-family: "Poppins", sans-serif;
  border: 1px solid #cdcaca;
  padding: 14px 10px;
  width: 100%;
  background: transparent;
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

footer {
  padding: 40px 0 0;
  background: #000;
  color: #fff !important;
}
footer a {
  color: #fff;
}
footer .footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  footer .footer-wrap {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer .footer-wrap .logo {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
  }
}
footer .footer-wrap .footer-links ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 576px) {
  footer .footer-wrap .footer-links ul {
    flex-direction: column;
  }
}
footer .footer-wrap .footer-links ul li {
  margin-left: 40px;
}
@media (max-width: 576px) {
  footer .footer-wrap .footer-links ul li {
    margin: 20px 0 0;
  }
}
footer p {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 30px 0;
  opacity: 0.7;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  margin-top: 30px;
}

.desc h5 {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  position: relative;
  padding-left: 40px;
}
.desc h5::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 30px;
  height: 3px;
  border-radius: 3px;
  background: #FA541C;
}

@media (max-width: 991px) {
  section {
    padding: 40px 0 !important;
  }
}/*# sourceMappingURL=style.css.map */