@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #212b36;
    // overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin _991px {
    @media (max-width: 991px) { @content; }
}
@mixin _767px {
    @media (max-width: 767px) { @content; }
}
@mixin _576px {
    @media (max-width: 576px) { @content; }
}
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #212b36;
    &:hover {
        text-decoration: underline;
    }
}
input,
select {
    border: none;
    background: transparent;
    &:focus {
        outline: none;
    }
}
textarea {
    resize: none;
    &:focus {
        outline: none;
    }
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include _767px() {
        padding: 0 10px;
    }
}
img {
    max-width: 100%;
    min-height: auto;
}

// ===================> Mixins <======================
@mixin _txtStyle($f-weight, $fz, $lh) {
    font-weight: $f-weight;
    font-size: $fz;
    line-height: $lh;
}
.btn {
    .blink {
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            width: 7px;
            height: 200px;
            margin-left: 50px;
            background: #fff;
            box-shadow: 0 0 10px #fff;
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0.5) 100%
            );
            left: -40px;
            top: -100px;
            z-index: 1;
            transform: rotate(45deg);
            position: absolute;
            animation: movingFlare 2s ease-in-out 5s infinite;
        }
    }
    .btn-div {
        border: none;
        border-radius: 8px;
        background-color: #FA541C;
        box-shadow: 0px 3px 1px -2px rgb(145 158 171 / 20%), 0px 2px 2px 0px rgb(145 158 171 / 14%), 0px 1px 5px 0px rgb(145 158 171 / 12%);
        height: 44px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include _767px() {
            height: 38px;
        }
        @include _576px() {
            width: 100%;
            height: 58px;
        }
        a {
            font-weight: 400;
            color: #fff;
            font-size: 14px;
            height: 100%;
            line-height: 44px;
            padding: 0 20px;
            @include _767px() {
                font-size: 12px;
                line-height: 38px;
                padding: 0 14px;
            }
            @include _576px() {
                font-size: 18px;
                line-height: 58px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            opacity: .9;
        }
    }
    @keyframes movingFlare {
        0% {
          left: -30px;
          margin-left: 0px;
        }
        30% {
          left: 110%;
          margin-left: 80px;
        }
        100% {
          left: 110%;
          margin-left: 80px;
        }
    }
}
.logo {
    a {
        @include _txtStyle(700, 21px, 21px);
        span {
            color: #FA541C;
        }
    }
}
.top {
    background: #016fbd;
    .top-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 0;
        .top-wrap__item {
            .lang {
                img {
                    width: 20px;
                }
                a {
                    display: flex;
                    align-items: center;
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        color: #fff;
                        margin-left: 7px;
                    }
                }
            }
            .social-media {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .social-media__icon {
                    margin-left: 10px;
                    a {
                        display: flex;
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
header {
    padding: 16px 0;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #e6e2e2;
    @include _767px() {
        padding: 10px 0;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burger-menu {
            display: none;
            @include _767px() {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                width: 40px;
                span {
                    width: 100%;
                    height: 3px;
                    background: #222;
                    border-radius: 8px;
                    margin: 4px 0;
                    &:first-child {
                        width: 80%;
                    }
                }
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include _767px() {
                display: none;
            }
            li {
                margin: 0 20px;
                a {
                    @include _txtStyle(400, 16px, 21px)
                }
            }
        }
        .btn {
            @include _767px() {
                display: none;
            }
        }
    }
}
.content {
    padding: 60px 0 40px;
    .content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include _767px() {
            flex-direction: column;
        }
        .content-desc {
            max-width: 520px;
            @include _767px() {
                text-align: center
            }
            h1 {
                @include _txtStyle(900, 52px, 64px);
                @include _991px() {
                    font-size: 40px;
                    line-height: 52px;
                }
                @include _767px() {
                    font-size: 32px;
                    line-height: 44px;
                }
            }
            p {
                @include _txtStyle(400, 16px, 24px);
                margin: 10px 0 20px;
                opacity: .7;
            }
        }
        .content-img {
            max-width: 550px;
            width: 100%;
            @include _767px() {
                max-width: 370px;
            }
        }
    }
    .btn-div {
        @include _767px() {
            margin: 0 auto;
        }
    }
    .content-cards {
        margin-top: 20px;
        .content-cards__wrap {
            display: flex;
            justify-content: space-between;
            text-align: center;
            @include _767px() {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .content-cards__item {
                max-width: 360px;
                width: 100%;
                padding: 20px;
                border: 1px solid #ebe9e9;
                @include _767px() {
                    max-width: 420px;
                    margin-top: 12px;
                }
                img {
                    width: 40px;
                }
                h4 {
                    @include _txtStyle(500, 16px, 21px);
                    margin: 7px 0 5px;
                }
                p {
                    @include _txtStyle(300, 14px, 18px);
                    opacity: .8;
                }
            }
        }
    }
}
#services {
    padding: 60px 0;
    h5 {
        text-align: center;
        max-width: 174px;
        width: 100%;
        margin: 0 auto;
    }
    p {
        text-align: center;
        @include _txtStyle(300, 16px, 21px);
        max-width: 720px;
        width: 100%;
        margin: 14px auto;
        opacity: .7;
    }
    .services-wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px 0;
        .services-wrap__item {
            max-width: 320px;
            width: 100%;
            padding: 20px;
            text-align: center;
            margin: 20px 0;
            transition: .3s all;
            cursor: default;
            border-radius: 7px;
            @include _767px() {
                box-shadow: 12px 15px 26px #d8d6d6;
                max-width: 100%;
            }
            &:hover {
                background: #FA541C;
                transform: scale(1.1);
                h3, h6 {
                    color: #fff
                }
                svg {
                    fill: #fff;
                }
            }
            svg {
                fill: #FA541C;
                transition: .3s all;
            }
            h3 {
                @include _txtStyle(700, 16px, 21px);
                margin: 7px 0;
                transition: .3s all;
            }
            h6 {
                @include _txtStyle(400, 14px, 18px);
                transition: .3s all;
            }
        }
    }
    .btn-div {
        margin: 0 auto;
    }
}
#about {
    padding: 60px 0;
    .about-wrap {
        display: flex;
        align-items: center;
        @include _991px() {
            flex-direction: column;
        }
        .about-wrap__txt {
            flex: 0 0 1;
            padding-right: 20px;
            h1 {
                @include _txtStyle(900, 42px, 51px);
                margin: 30px 0 20px;
                @include _576px() {
                    font-size: 34px;
                    line-height: 44px;
                }
                span {
                    color: #FA541C;
                }
            }
            p {
                @include _txtStyle(400, 16px, 26px);
                margin-bottom: 30px;
            }
        }
        .about-wrap__img {
            padding-left: 60px;
            @include _991px() {
                padding-left: 0;
                margin-top: 36px;
            }
        }
    }
}
#reviews {
    padding: 40px 0;
    .container {
        text-align: center;
        h5 {
            max-width: 290px;
            margin: 0 auto;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 21px;
            max-width: 720px;
            margin: 20px auto;
            opacity: 0.7;
        }
    }.slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        li {
            margin: 0 9px;
            padding: 3px;
            button {
                font-size: 0;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background: #dbd9d9;
                border: none;
                cursor: pointer;
            }
        }
        .slick-active {
            button {
                background: #999;
            }
        }
    }
    .reviews-wrap {
        padding: 90px 0 20px;
        position: relative;
        @include _767px() {
            padding: 60px 0 20px;
        }
        .slick-slider {
            margin: 0 -15px;
            @include _767px() {
                margin: 0;
            }
        }
        .reviews-slider {
            .reviews-slide {
                -webkit-box-shadow: 0px 0px 50px -10px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 0px 50px -10px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 0px 50px -10px rgba(34, 60, 80, 0.2);
                padding: 30px;
                margin: 30px 15px;
                @include _767px() {
                    padding: 20px;
                    margin: 30px 0px 20px;
                }
                .reviews-head {
                    display: flex;
                    align-items: center;
                    .ava {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid #e2e1e1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include _767px() {
                            width: 50px;
                            height: 50px;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            @include _767px() {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                    .about {
                        margin-left: 12px;
                        h4 {
                            @include _txtStyle(400, 16px, 18px)
                        }
                        span {
                            @include _txtStyle(300, 14px, 16px);
                            opacity: .6;
                        }
                    }
                }
                p {
                    @include _txtStyle(400, 16px, 21px);
                    padding: 20px 0;
                }
            }
        }
        .arrows {
            position: absolute;
            top: 30px;
            right: 20px;
            @include _767px() {
                right: 20px;
            }
            svg {
                width: 30px;
                cursor: pointer;
            }
            .prev {
                right: 70px;
                position: absolute;
            }
            .next {
                position: absolute;
                right: 10px;
            }
        }
        .btn {
            @include _767px() {
                padding: 10px;
            }
        }
        .btn-div {
            margin: 30px auto 0;
        }
    }
}
#contacts {
    padding: 60px 0;
    background: #444;
    color: #fff;
    h5 {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .contacts-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        @include _767px() {
            margin-top: 40px;
            flex-direction: column;
        }
        .contacts-wrap__item {
            width: 50%;
            @include _767px() {
                width: 100%;
            }
            h2 {
                @include _txtStyle(700, 32px, 42px);
                @include _576px() {
                    font-size: 28px
                }
            }
            p {
                @include _txtStyle(300, 16px, 21px);
                padding: 20px 0 10px;
                max-width: 420px;
                border-bottom: 2px solid #bdbbbb;
                margin-bottom: 40px;
                padding-bottom: 20px;
                margin-right: 20px;
            }
            .item {
                display: flex;
                margin: 10px 0;
                span {
                    @include _txtStyle(300, 16px, 28px);
                    margin-left: 12px;
                }
            }
            h3 {
                @include _txtStyle(500, 18px, 24px);
                text-align: center;
            }
            .soc-medias {
                @include _576px() {
                    text-align: center;
                }
                h3 {
                    text-align: left;
                    margin: 30px 0 12px;
                    font-weight: 400;
                    font-size: 16px;
                    @include _576px() {
                        text-align: center;
                        font-size: 24px;
                    }
                }
                svg {
                    fill: #fff;
                    margin-right: 10px;
                    @include _576px() {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            form {
                max-width: 460px;
                width: 100%;
                margin: 0 auto;
                -webkit-box-shadow: 0px 0px 51px 20px rgba(255, 255, 255, 0.53);
                -moz-box-shadow: 0px 0px 51px 20px rgba(255, 255, 255, 0.53);
                box-shadow: 0px 0px 51px 20px rgba(255, 255, 255, 0.53);
                padding: 30px 40px;
                margin-top: 50px;
                border-radius: 12px;
                background: #fff;
                color: #333;
                @include _576px() {
                    padding: 20px;
                }
                .form-item {
                    margin: 16px 0;
                    .form-title {
                        @include _txtStyle(300, 14px, 18px);
                        opacity: .7;
                        margin-bottom: 7px;
                    }
                    input,
                    textarea,
                    select {
                        font-family: 'Poppins', sans-serif;
                        border: 1px solid #cdcaca;
                        padding: 14px 10px;
                        width: 100%;
                        background: transparent;
                        border-radius: 4px;
                        @include _txtStyle(300, 14px, 18px);
                    }
                }
            }
        }   
    }
}
footer {
    padding: 40px 0 0;
    background: #000;
    color: #fff !important;
    a {
        color: #fff;
    }
    .footer-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include _576px() {
            flex-direction: column;
        }
        .logo {
            @include _576px() {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #444;
                padding-bottom: 10px;
            }
        }
        .footer-links {
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                @include _576px() {
                    flex-direction: column;
                }
                li {
                    margin-left: 40px;
                    @include _576px() {
                        margin: 20px 0 0;
                    }
                }
            }
        }
    }
    p {
        @include _txtStyle(300, 14px, 18px);
        text-align: center;
        padding: 30px 0;
        opacity: .7;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
        margin-top: 30px;
    }
}
.desc {
    h5 {
        @include _txtStyle(500, 21px, 21px);
        position: relative;
        padding-left: 40px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 30px;
            height: 3px;
            border-radius: 3px;
            background: #FA541C;
        }
    }
}
section {
    @include _991px() {
        padding: 40px 0 !important;
    }
}
.mobile-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 9999;
    transition: .3s ease all;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .mobile-menu__content {
        position: absolute;
        top: 0;
        left: -120%;
        width: 70%;
        height: 100%;
        background: #fff;
        padding: 20px;
        transition: .3s ease all;
        &.active {
            left: 0;
        }
        ul {
            margin-top: 140px;
            li {
                margin: 30px 0;
                width: fit-content;
                a {
                    @include _txtStyle(700, 21px, 21px);
                }
            }
        }
    }
}