@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #212b36;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #212b36;
    &:hover {
        text-decoration: underline;
    }
}
input,
select {
    border: none;
    background: transparent;
    &:focus {
        outline: none;
    }
}
textarea {
    resize: none;
    &:focus {
        outline: none;
    }
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
img {
    max-width: 100%;
    min-height: auto;
}

// ===================> Mixins <======================
@mixin _txtStyle($f-weight, $fz, $lh) {
    font-weight: $f-weight;
    font-size: $fz;
    line-height: $lh;
}
.btn {
    button {
        padding: 8px 22px;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #FA541C;
        box-shadow: 0px 3px 1px -2px rgb(145 158 171 / 20%), 0px 2px 2px 0px rgb(145 158 171 / 14%), 0px 1px 5px 0px rgb(145 158 171 / 12%);
        height: 48px;
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
    }
    .blink {
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            width: 7px;
            height: 200px;
            margin-left: 50px;
            background: #fff;
            box-shadow: 0 0 10px #fff;
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.5) 0%,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0.5) 100%
            );
            left: -40px;
            top: -100px;
            z-index: 1;
            transform: rotate(45deg);
            position: absolute;
            animation: movingFlare 2s ease-in-out 5s infinite;
        }
    }
    @keyframes movingFlare {
        0% {
          left: -30px;
          margin-left: 0px;
        }
        30% {
          left: 110%;
          margin-left: 80px;
        }
        100% {
          left: 110%;
          margin-left: 80px;
        }
    }
}
header {
    padding: 20px 0;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            a {
                @include _txtStyle(700, 21px, 21px);
            }
        }
        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                margin: 0 20px;
                a {
                    @include _txtStyle(400, 16px, 21px)
                }
            }
        }
    }
}
.content {
    padding: 20px 0 60px;
    .content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-desc {
            max-width: 520px;
            h1 {
                @include _txtStyle(900, 52px, 64px);
            }
            p {
                @include _txtStyle(400, 16px, 24px);
                margin: 10px 0 20px;
                opacity: .7;
            }
        }
        .content-img {
            max-width: 550px;
            width: 100%;
        }
    }
    .content-cards {
        margin-top: 20px;
        .content-cards__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .content-cards__item {
                max-width: 360px;
                width: 100%;
                padding: 20px;
                border: 1px solid #ebe9e9;
                img {
                    width: 40px;
                }
                h4 {
                    @include _txtStyle(500, 16px, 21px);
                    margin: 7px 0 5px;
                }
                p {
                    @include _txtStyle(300, 14px, 18px);
                    opacity: .8;
                }
            }
        }
    }
}
#services {
    height: 100vh;
    background: #ebe9e9;
}
#about {
    padding: 60px 0;
    .about-wrap {
        display: flex;
        align-items: center;
        .about-wrap__txt {
            flex: 0 0 1;
            padding-right: 20px;
            h1 {
                @include _txtStyle(900, 42px, 51px);
                margin: 30px 0 20px;
                span {
                    color: #FA541C;
                }
            }
            p {
                @include _txtStyle(400, 16px, 26px);
                margin-bottom: 30px;
            }
        }
        .about-wrap__img {
            padding-left: 60px;
        }
    }
}
.desc {
    h5 {
        @include _txtStyle(500, 18px, 18px);
        position: relative;
        padding-left: 40px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 30px;
            height: 3px;
            border-radius: 3px;
            background: #FA541C;
        }
    }
}
